@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:'Inter', sans-serif;
}
.navbar-fixed{
    @apply fixed z-[999] bg-secondary bg-opacity-60;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
.hamburger-item{
    @apply w-[30px] h-[2px] my-2 block bg-white;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45 ;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45 ;
}
.for-bg{
    background: rgb(34,28,50);
    background: radial-gradient(circle, rgba(34,28,50,1) 6%, rgba(11,17,32,1) 92%);
}
.bg-blog{
    background-image: url('https://source.unsplash.com/500x500?programing');
}